$__first_font-color: #ee3023;
$__second_font-color: #201f1f;

.header-logo {
  @include element("first") {
    color: $__first_font-color;
  }

  @include element("second") {
    color: $__second_font-color;
  }
}
