$__categories_margin-top: -250px;
$__special_margin-top: 20px;
$__product-main-overview_margin-top: 2em;

.main {

  @include element("categories") {
    margin-top: $__categories_margin-top;
  }

  @include element("special") {
    margin-top: $__special_margin-top;
  }

  @include element("product-main-overview") {
    margin-top: $__product-main-overview_margin-top;
  }
}
