$__link_font-family: Arial, serif;
$__link_font-size: 0.9rem;
$__link_color: white;
$__link_padding-x: 0.6em;
$__link_border-right-width: 1px;

.nav-bottom {
  @include element("link") {
    color: $__link_color;
    font-family: $__link_font-family;
    font-size: $__link_font-size;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 $__link_padding-x;

    &:not(:last-child) {
      border-right: $__link_color solid $__link_border-right-width;
    }
  }
}
