$top-item_font-family: "Gotham", Georgia, sans-serif;
$top-item_max-width: 1060px;

$__description_font-size: 4.3rem;
$__description_color: white;
$__description_top-offset: 1.2em;
$__description_margin-left: 0.5em;

$__info_max-width: 45em;
$__info_z-index: 1;

$__link_top-offset: 4em;
$__link_left-offset: 3em;

$__photo_left-offset: -3em;
$__photo_top-offset: 3em;

$__slogan_font-size: 9.7rem;
$__slogan_color: black;
$__slogan_top-offset: 0.6em;
$__slogan_line-height: 0.73;
$__slogan_font-family: "Gotham Bold", Georgia, sans-serif;
$__slogan_font-weight: bold;

.top-item {
  max-width: $top-item_max-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: $top-item_font-family;

  &:nth-child(2) {
    display: none;
  }

  @include element("description") {
    font-size: $__description_font-size;
    color: $__description_color;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    top: $__description_top-offset;
    margin-left: $__description_margin-left;
  }

  @include element("info") {
    max-width: $__info_max-width;
    z-index: $__info_z-index;
  }

  @include element("link") {
    position: relative;
    top: $__link_top-offset;
    left: $__link_left-offset;
  }

  @include element("photo") {
    position: relative;
    left: $__photo_left-offset;
    top: $__photo_top-offset;
  }

  @include element("slogan") {
    margin: 0;
    font: {
      family: $__slogan_font-family;
      weight: $__slogan_font-weight;
      size: $__slogan_font-size;
    }
    color: $__slogan_color;
    text-transform: uppercase;
    line-height: $__slogan_line-height;
    position: relative;
    top: $__slogan_top-offset;
  }
}
