$top-items-container_bg-color: #9ccd8d;
$top-items-container_margin-top: -20px;

.top-items-container {
  position: relative;
  margin-top: $top-items-container_margin-top;
  overflow: hidden;

  @include element("body") {
    margin: 0 auto;
    position: relative;
    top: -100px;
    background-color: $top-items-container_bg-color;
  }

  @include element("next") {
    position: absolute;
    top: 50%;
    right: 11.6%;
    z-index: 100;
  }

  @include element("prev") {
    position: absolute;
    top: 50%;
    left: 11.6%;
    z-index: 100;
  }
}
