$color: white;
$font-family: "Gotham";
$font-weight: 300;
$font-size: 1.1rem;
$margin-right: 2em;
$padding-y: 0.5em;
$letter-spacing: 0.05em;
$left-offset: -1.2em;
$icon-width: 0.2em;
$icon-height: 0.2em;
$icon-line-width: 0.2em;
$icon-right-offset: -0.7em;

.product-link__get {
  font: {
    family: $font-family;
    weight: $font-weight;
    size: $font-size;
  }
  color: $color;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: $padding-y 0;
  position: relative;
  left: $left-offset;
  letter-spacing: $letter-spacing;

  &:after {
    content: "";
    display: block;
    width: $icon-width;
    height: $icon-height;
    border: {
      width: 0 $icon-line-width $icon-line-width 0;
      color: white;
      style: solid;
    }
    position: absolute;
    top: calc(50% - #{$icon-height});
    right: $icon-right-offset;
    transform: rotate(-45deg);
  }
}
