$font-family: "Gotham";
$font-weight: 500;
$color: white;
$margin-left: 1.6em;

.product-link__price {
  font: {
    family: $font-family;
    weight: $font-weight;
  }
  border-right: 1px solid #ab090e;
  color: $color;
  text-decoration: none;
  display: inline-block;
  margin-left: $margin-left;
  padding: {
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0;
  }
  position: relative;
  left: -1.8em;
}
