$bg-color: #e5f2e1;
$border-width: 8px;
$border-color: #636b5f;
$button-width: 4.5em;
$button-height: 4.5em;
$arrow-width: 1.5em;
$arrow-height: 1.5em;
$arrow-line-width: 0.5em;
$arrow-color: #52533f;

.top-items-button {
  border: $border-width solid $border-color;
  width: $button-width;
  height: $button-height;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  &::before {
    display: block;
    content: "";
    width: $arrow-width;
    height: $arrow-height;
    border: {
      color: $arrow-color;
      width: 0 $arrow-line-width $arrow-line-width 0;
      style: solid;
    }
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &--next::before {
    transform: translateX(calc(-1 * calc(50% / 2))) rotate(-45deg);
  }
  &--prev::before {
    transform: translateX(calc(50% / 2)) rotate(135deg);
  }
}
