$brand-logo_font-family: "Futura Std", Georgia, serif;
$__first_font-weight: bold;
$__second_font-weight: 300;

.brand-logo {
  font-family: $brand-logo_font-family;
  text-transform: uppercase;
  margin: 0;

  @include element("first") {
    font-weight: $__first_font-weight;
  }

  @include element("second") {
    font-weight: $__second_font-weight;
  }
}
