@font-face {
  font-family: "Futura Std";
  src: url("/src/media/fonts/FuturaStd-Light.woff2") format("woff2"),
    url("/src/media/fonts/FuturaStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("/src/media/fonts/FuturaStd-Bold.woff2") format("woff2"),
    url("/src/media/fonts/FuturaStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/src/media/fonts/Gotham-Book.woff2") format("woff2"),
    url("/src/media/fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/src/media/fonts/GothamRounded-Medium.woff2") format("woff2"),
    url("/src/media/fonts/GothamRounded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Condensed";
  src: url("/src/media/fonts/GothamCondensed-Bold.woff2") format("woff2"),
    url("/src/media/fonts/GothamCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("/src/media/fonts/Gotham-Bold.woff2") format("woff2"),
    url("/src/media/fonts/Gotham-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/src/media/fonts/Gotham-Light.woff2") format("woff2"),
    url("/src/media/fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/src/media/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/src/media/fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
