$font-family: Arial, serif;
$font-size: 0.9rem;
$color: black;

.special__all-products-link {
  font: {
    family: $font-family;
    style: italic;
    size: $font-size;
  }
  text-decoration: none;
  text-transform: lowercase;
  color: $color;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -1em;
    border: {
      width: 0.4em;
      style: solid;
      color: transparent transparent transparent $color;
    }
    transform: translateY(calc(50% / 2));
  }
}
