$font-family: "Gotham";
$font-weight: 500;
$font-size: 1.5rem;

.special__header-text {
  margin: 0;
  font: {
    family: $font-family;
    weight: $font-weight;
    size: $font-size;
  }
  text-transform: uppercase;
}
