@import "__all-products-link.scss";
@import "__catalog.scss";
@import "__header-first.scss";
@import "__header-second.scss";
@import "__header-text.scss";
@import "__header.scss";

$padding-x: 1em;
$padding-y: 1.6em;

.special {
  padding: $padding-y $padding-x;
  background-color: white;
}
