$font-family: "Gotham Bold", sans;
$font-size: 9.7rem;
$color: black;
$letter-spacing: 0.01em;

.top-item__slogan {
  margin: 0;
  letter-spacing: $letter-spacing;
  font: {
    family: $font-family;
    size: $font-size;
  }
  color: $color;
  text-transform: uppercase;
  line-height: 0.73;
  position: relative;
  top: -25px;
}
