@import "__description.scss";
@import "__link.scss";
@import "__slogan.scss";
@import "__photo.scss";
@import "__info.scss";

.top-item {
  position: relative;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  // overflow: hidden;
}
