$font-family: "Gotham Condensed";
$font-weight: bold;
$font-size: 1.5rem;
$color: black;
$delimiter-color: #cfc8bc;
$padding-left: 0.5em;
$padding-right: 1.25em;
$padding-y: 0.2em;
$padding-left-not-fist: 1.3em;

.top-nav__link {
  display: inline-block;
  color: $color;
  border-right: 1px solid $delimiter-color;
  font: {
    family: $font-family;
    weight: $font-weight;
    size: $font-size;
  }
  text: {
    transform: uppercase;
    decoration: none;
  }
  padding: $padding-y $padding-right $padding-y $padding-left;

  &:not(:first-child) {
    padding-left: $padding-left-not-fist;
  }
}
