$border-radius: 0.8125em;
$padding-x: 1em;
$padding-y: 0.3em;
$border-color: #cfc8bc;
$icon-x-offset: 0.375em;
$icon-size: 1em;
$text-indent: 0.8125em;
$placeholder-font-family: Helvetica, sans-serif;

.top-nav__search {
  display: inline-block;
  border-radius: $border-radius;
  margin-left: auto;
  padding: $padding-y $padding-x;
  border: 1px solid $border-color;
  background: {
    image: url("/src/media/icons/search.svg");
    repeat: no-repeat;
    position: $icon-x-offset center;
    size: $icon-size;
  }

  &::placeholder {
    text-indent: $text-indent;
    font-family: $placeholder-font-family;
  }
}
