$font-size: 0.75rem;
$font-family: "Gotham";
$font-color: black;

.header__contact {
  font: {
    size: $font-size;
    family: $font-family;
    weight: normal;
    style: normal;
  }
  color: $font-color;
  text-decoration: none;
}
