$margin-right: 3.25em;
$top-offset: 0.5em;
$left-offset: -2.4em;
$icon-left-offset: -1.6em;

.header__phone {
  position: relative;
  margin-right: $margin-right;
  left: $left-offset;
  top: $top-offset;

  &:before {
    width: 10px;
    height: 10px;
    content: url("/src/media/icons/phone.svg");
    display: block;
    position: absolute;
    left: $icon-left-offset;
  }
}
