$top-padding: 4em;
$bottom-padding: 2.5em;

.header__wrapper {
  padding-top: $top-padding;
  padding-bottom: $bottom-padding;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
