@import "__brand-logo.scss";
@import "__contact.scss";
@import "__contacts.scss";
@import "__email.scss";
@import "__login.scss";
@import "__phone.scss";
@import "__register.scss";
@import "__right.scss";
@import "__shopping-cart.scss";
@import "__user.scss";
@import "__wrapper.scss";

$bg-color: #f2f2f2;
$z-index: 1;

.header {
  background-color: $bg-color;
  position: relative;
  z-index: $z-index;
}
